@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-p1: #15e3f4; 
  --color-p2: #0c7775;
  --color-p3: #687e9a;  
  --color-p4: #75e8ee; 
  --color-p5: #9fb8bf; 
}
